<p id="notice"><%= notice %></p>

<%= image_tag @heli_ac4banh.image_url, :width => 200, :height => 200  %>

<p>
  <strong>Type:</strong>
  <%= @heli_ac4banh.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @heli_ac4banh.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @heli_ac4banh.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @heli_ac4banh.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @heli_ac4banh.model %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @heli_ac4banh.taiTrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @heli_ac4banh.trongTamTai %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @heli_ac4banh.tongKhoiLuong %>
</p>

<p>
  <strong>Tongchieudai:</strong>
  <%= @heli_ac4banh.tongChieuDai %>
</p>

<p>
  <strong>Tongchieurong:</strong>
  <%= @heli_ac4banh.tongChieuRong %>
</p>

<p>
  <strong>Chieucaocabin:</strong>
  <%= @heli_ac4banh.chieuCaoCabin %>
</p>

<p>
  <strong>Bakinhquayvongtoithieu:</strong>
  <%= @heli_ac4banh.baKinhQuayVOngToiThieu %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @heli_ac4banh.tocDoDiChuyen %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @heli_ac4banh.tocDoNang %>
</p>

<p>
  <strong>Khanangleodoccotai:</strong>
  <%= @heli_ac4banh.khaNangLeoDocCoTai %>
</p>

<p>
  <strong>Moto:</strong>
  <%= @heli_ac4banh.moTo %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @heli_ac4banh.acQuy %>
</p>

<p>
  <strong>Chieucaonang:</strong>
  <%= @heli_ac4banh.chieuCaoNang %>
</p>

<p>
  <strong>Gocnghieng:</strong>
  <%= @heli_ac4banh.gocNghieng %>
</p>

<p>
  <strong>Khoangnangtudo:</strong>
  <%= @heli_ac4banh.khoangNangTuDo %>
</p>

<p>
  <strong>Chieudaicoso:</strong>
  <%= @heli_ac4banh.chieuDaiCoSo %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @heli_ac4banh.kichThuocCangNang %>
</p>

<p>
  <strong>Colop:</strong>
  <%= @heli_ac4banh.coLop %>
</p>

<%= link_to 'Edit', edit_heli_ac4banh_path(@heli_ac4banh) %> |
<%= link_to 'Back', heli_ac4banhs_path %>
