   <div class="classify_sp">
                <%= image_tag("image/forklift.png") %>
                <div class="classify_sp_heading") ><%= t("menu_left.lua_chon_bo_cong_tac")%>
                </div>
            </div>
       <div class="box_sp">
                <%= link_to image_tag("bocongtac/image_1396598195.jpg"),image_path("bocongtac/image_1396598195.jpg"), :rel => "shadowbox" %>    
           <div class="line"></div>
           <div class="box_namesp">
               <a href = "#"><%= t("bo_cong_tac.bo_cong_tac_kep_thung_carton") %></a>
           </div>
           <div class="box_addsp">
               <%= t("san_pham.lien_he") %>: 0969. 0427. 25
           </div>
       </div>
       <div class="box_sp">
                <%= link_to image_tag("bocongtac/image_1396598128.jpg"),image_path("bocongtac/image_1396598128.jpg"), :rel => "shadowbox" %>
           <div class="line"></div>
           <div class="box_namesp">
               <a href = "#"><%= t("bo_cong_tac.bo_cong_tac_keo_day") %></a>
           </div>
           <div class="box_addsp">
               <%= t("san_pham.lien_he") %>: 0969. 0427. 25
           </div>
       </div>
       <div class="box_sp">
           <%= link_to image_tag("bocongtac/image_1396598086.jpg"),image_path("bocongtac/image_1396598086.jpg"), :rel => "shadowbox" %>
           <div class="line"></div>
           <div class="box_namesp">
               <a href = "#"><%= t("bo_cong_tac.bo_cong_tac_dich_gia") %></a>
           </div>
           <div class="box_addsp">
               <%= t("san_pham.lien_he") %>: 0969. 0427. 25
           </div>
       </div>
       <div class="box_sp">
           <%= link_to image_tag("bocongtac/image_1396598018.jpg"),image_path("bocongtac/image_1396598018.jpg"), :rel => "shadowbox" %>
           <div class="line"></div>
           <div class="box_namesp">
               <a href = "#"><%= t("bo_cong_tac.bo_cong_tac_kep_gach") %></a>
           </div>
           <div class="box_addsp">
               <%= t("san_pham.lien_he") %>: 0969. 0427. 25
           </div>
       </div>
       <div class="box_sp">
           <%= link_to image_tag("bocongtac/image_1396597961.jpg"),image_path("bocongtac/image_1396597961.jpg"), :rel => "shadowbox" %>
           <div class="line"></div>
           <div class="box_namesp">
               <a href = "#"><%= t("bo_cong_tac.bo_cong_tac_kep_giay") %></a>
           </div>
           <div class="box_addsp">
               <%= t("san_pham.lien_he") %>: 0969. 0427. 25
           </div>
       </div>
       <div class="box_sp">
           <%= link_to image_tag("bocongtac/image_1396597885.jpg"),image_path("bocongtac/image_1396597885.jpg"), :rel => "shadowbox" %>
           <div class="line"></div>
           <div class="box_namesp">
               <a href = "#"><%= t("bo_cong_tac.bo_cong_tac_gat_gu") %></a>
           </div>
           <div class="box_addsp">
               <%= t("san_pham.lien_he") %>: 0969. 0427. 25
           </div>
       </div>