<p id="notice"><%= notice %></p>

<%= image_tag @heli_gseries.image_url, :width => 200, :height => 200  %>

<p>
  <strong>Type:</strong>
  <%= @heli_gseries.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @heli_gseries.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @heli_gseries.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @heli_gseries.nhaSanXuat %>
</p>

<p>
  <strong>Loaixe:</strong>
  <%= @heli_gseries.loaiXe %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @heli_gseries.taitrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @heli_gseries.trongTamTai %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @heli_gseries.tocDoNang %>
</p>

<p>
  <strong>Khoangdichuyentudo:</strong>
  <%= @heli_gseries.khoangDiChuyenTuDo %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @heli_gseries.tocDoDiChuyen %>
</p>

<p>
  <strong>Bankinhquayvongtoithieu:</strong>
  <%= @heli_gseries.banKinhQuayVongToiThieu %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @heli_gseries.khaNangLeoDoc %>
</p>

<p>
  <strong>Suckeo:</strong>
  <%= @heli_gseries.sucKeo %>
</p>

<p>
  <strong>Chieucaocabin:</strong>
  <%= @heli_gseries.chieuCaoCabin %>
</p>

<p>
  <strong>Chieucaokhungnang:</strong>
  <%= @heli_gseries.chieuCaoKhungNang %>
</p>

<p>
  <strong>Chieucaonangtoida:</strong>
  <%= @heli_gseries.chieuCaoNangToiDa %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @heli_gseries.kichThuocCangNang %>
</p>

<p>
  <strong>Colopxe:</strong>
  <%= @heli_gseries.coLopXe %>
</p>

<p>
  <strong>Loaidongco:</strong>
  <%= @heli_gseries.loaiDongCo %>
</p>

<p>
  <strong>Congsuat:</strong>
  <%= @heli_gseries.congSuat %>
</p>

<p>
  <strong>Momen:</strong>
  <%= @heli_gseries.moMen %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @heli_gseries.tongKhoiLuong %>
</p>

<p>
  <strong>Chieudaixe:</strong>
  <%= @heli_gseries.chieuDaiXe %>
</p>

<p>
  <strong>Chieurongxe:</strong>
  <%= @heli_gseries.chieuRongXe %>
</p>

<%= link_to 'Edit', edit_heli_gseries_path(@heli_gseries) %> |
<%= link_to 'Back', heli_gseries_index_path %>
