<p id="notice"><%= notice %></p>

<%= image_tag @heli_h2000_series.image_url, :width => 100, :height => 100  %>

<p>
  <strong>Type_id:</strong>
  <%= @heli_h2000_series.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @heli_h2000_series.ten %>
</p>

<p>
  <strong>Gioi Thieu:</strong>
  <%= @heli_h2000_series.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @heli_h2000_series.nhaSanXuat %>
</p>

<p>
  <strong>Loaixe:</strong>
  <%= @heli_h2000_series.loaiXe %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @heli_h2000_series.taiTrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @heli_h2000_series.trongTamTai %>
</p>

<p>
  <strong>Loainhienlieu:</strong>
  <%= @heli_h2000_series.loaiNhienLieu %>
</p>

<p>
  <strong>Kieuxe:</strong>
  <%= @heli_h2000_series.kieuXe %>
</p>

<p>
  <strong>Loailop:</strong>
  <%= @heli_h2000_series.loaiLop %>
</p>

<p>
  <strong>Sobanhxe:</strong>
  <%= @heli_h2000_series.soBanhXe %>
</p>

<p>
  <strong>Chieucaonanglonnhat:</strong>
  <%= @heli_h2000_series.chieuCaoNangLonNhat %>
</p>

<p>
  <strong>Khoangnangtudo:</strong>
  <%= @heli_h2000_series.khoangNangTuDo %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @heli_h2000_series.kichThuocCangNang %>
</p>

<p>
  <strong>Gocnghiengkhungnang:</strong>
  <%= @heli_h2000_series.gocNghiengKhungNang %>
</p>

<p>
  <strong>Chieudaixecocangnang:</strong>
  <%= @heli_h2000_series.chieuDaiXeCoCangNang %>
</p>

<p>
  <strong>Chieurongxe:</strong>
  <%= @heli_h2000_series.chieuRongXe %>
</p>

<p>
  <strong>Chieucaokhungnang:</strong>
  <%= @heli_h2000_series.chieuCaoKhungNang %>
</p>

<p>
  <strong>Chieucaokhungnangkhinangcaonhat:</strong>
  <%= @heli_h2000_series.chieuCaoKhungNangKhiNangCaoNhat %>
</p>

<p>
  <strong>Chieucaocabin:</strong>
  <%= @heli_h2000_series.chieuCaoCabin %>
</p>

<p>
  <strong>Bankinhvongquaytoithieu:</strong>
  <%= @heli_h2000_series.banKinhVongQuayToiThieu %>
</p>

<p>
  <strong>Tocdodichuyenlonnhat:</strong>
  <%= @heli_h2000_series.tocDoDiChuyenLonNhat %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @heli_h2000_series.tocDoNang %>
</p>

<p>
  <strong>Tocdoha:</strong>
  <%= @heli_h2000_series.tocDoHa %>
</p>

<p>
  <strong>Ungsuatlonnhat:</strong>
  <%= @heli_h2000_series.ungSuatLonNhat %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @heli_h2000_series.khaNangLeoDoc %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @heli_h2000_series.tongKhoiLuong %>
</p>

<p>
  <strong>Phanbokhoiluongkhicotai:</strong>
  <%= @heli_h2000_series.phanBoKhoiLuongKhiCoTai %>
</p>

<p>
  <strong>Phanbokhoiluongkhikhongtai:</strong>
  <%= @heli_h2000_series.phanBoKhoiLuongKhiKhongTai %>
</p>

<p>
  <strong>Kichthuoclopxetruoc:</strong>
  <%= @heli_h2000_series.kichThuocLopXeTruoc %>
</p>

<p>
  <strong>Kichthuoclopxesau:</strong>
  <%= @heli_h2000_series.kichThuocLopXeSau %>
</p>

<p>
  <strong>Chieudaicoso:</strong>
  <%= @heli_h2000_series.chieuDaiCoSo %>
</p>

<p>
  <strong>Khoangcachtamlop:</strong>
  <%= @heli_h2000_series.khoangCachTamLop %>
</p>

<p>
  <strong>Khoangsanggamxe:</strong>
  <%= @heli_h2000_series.khoangSangGamXe %>
</p>

<p>
  <strong>Hethongphanh:</strong>
  <%= @heli_h2000_series.heThongPhanh %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @heli_h2000_series.acQuy %>
</p>

<p>
  <strong>Loaidongco:</strong>
  <%= @heli_h2000_series.loaiDongCo %>
</p>

<p>
  <strong>Congsuat:</strong>
  <%= @heli_h2000_series.congSuat %>
</p>

<p>
  <strong>Momen:</strong>
  <%= @heli_h2000_series.moMen %>
</p>

<p>
  <strong>Soxylanh:</strong>
  <%= @heli_h2000_series.soXyLanh %>
</p>

<p>
  <strong>Dungtichbuongchay:</strong>
  <%= @heli_h2000_series.dungTichBuongChay %>
</p>

<p>
  <strong>Dungtichbinhnhienlieu:</strong>
  <%= @heli_h2000_series.dungTichBinhNhienLieu %>
</p>

<%= link_to 'Edit', edit_heli_h2000_series_path(@heli_h2000_series) %> |
<%= link_to 'Back', heli_h2000_series_index_path %>
