<p id="notice"><%= notice %></p>

<%= image_tag @heli3banh.image_url, :width => 200, :height => 200  %>

<p>
  <strong>Type:</strong>
  <%= @heli3banh.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @heli3banh.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @heli3banh.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @heli3banh.nhaSanXuat %>
</p>

<p>
  <strong>Loaixe:</strong>
  <%= @heli3banh.loaiXe %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @heli3banh.taiTrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @heli3banh.trongTamTai %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @heli3banh.tongKhoiLuong %>
</p>

<p>
  <strong>TongChieuDai:</strong>
  <%= @heli3banh.tongChieuDai %>
</p>

<p>
  <strong>Tongchieurong:</strong>
  <%= @heli3banh.tongChieuRong %>
</p>

<p>
  <strong>Chieucaocabin:</strong>
  <%= @heli3banh.chieuCaoCabin %>
</p>

<p>
  <strong>Bankinhvongquaytoithieu:</strong>
  <%= @heli3banh.banKinhVongQuayToiThieu %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @heli3banh.tocDoDiChuyen %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @heli3banh.tocDoNang %>
</p>

<p>
  <strong>Khanangleodoccotai:</strong>
  <%= @heli3banh.khaNangLeoDocCoTai %>
</p>

<p>
  <strong>Moto:</strong>
  <%= @heli3banh.moto %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @heli3banh.acQuy %>
</p>

<p>
  <strong>Chieucaonang:</strong>
  <%= @heli3banh.chieuCaoNang %>
</p>

<p>
  <strong>Gocnghieng:</strong>
  <%= @heli3banh.gocNghieng %>
</p>

<p>
  <strong>Khoangnangtudolinteger:</strong>
  <%= @heli3banh.khoangNangTuDoLinteger %>
</p>

<p>
  <strong>Chieudaicoco:</strong>
  <%= @heli3banh.chieuDaiCoCo %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @heli3banh.kichThuocCangNang %>
</p>

<p>
  <strong>Colop:</strong>
  <%= @heli3banh.coLop %>
</p>

<%= link_to 'Edit', edit_heli3banh_path(@heli3banh) %> |
<%= link_to 'Back', heli3banhs_path %>
