<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @ga.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @ga.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @ga.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @ga.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @ga.model %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @ga.taiTrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @ga.trongTamTai %>
</p>

<p>
  <strong>Loainhienlieu:</strong>
  <%= @ga.loaiNhienLieu %>
</p>

<p>
  <strong>Kieuxe:</strong>
  <%= @ga.kieuXe %>
</p>

<p>
  <strong>Loailop:</strong>
  <%= @ga.loaiLop %>
</p>

<p>
  <strong>Sobanhxe:</strong>
  <%= @ga.soBanhXe %>
</p>

<p>
  <strong>Chieucaolonnhat:</strong>
  <%= @ga.chieuCaoLonNhat %>
</p>

<p>
  <strong>Khoangnangtudo:</strong>
  <%= @ga.khoangNangTuDo %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @ga.kichThuocCangNang %>
</p>

<p>
  <strong>Gocnghiengkhungnang:</strong>
  <%= @ga.gocNghiengKhungNang %>
</p>

<p>
  <strong>Chieudaixe:</strong>
  <%= @ga.chieuDaiXe %>
</p>

<p>
  <strong>Chieurongxe:</strong>
  <%= @ga.chieuRongXe %>
</p>

<p>
  <strong>Chieucaokhungnang:</strong>
  <%= @ga.chieuCaoKhungNang %>
</p>

<p>
  <strong>Chieucaokhungnangkhinangcaonhat:</strong>
  <%= @ga.chieuCaoKhungNangKhiNangCaoNhat %>
</p>

<p>
  <strong>Chieucaocabin:</strong>
  <%= @ga.chieuCaoCaBin %>
</p>

<p>
  <strong>Bankinhvongquaytoithieu:</strong>
  <%= @ga.banKinhVongQuayToiThieu %>
</p>

<p>
  <strong>Tocdodichuyenlonnhat:</strong>
  <%= @ga.tocDoDiChuyenLonNhat %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @ga.tocDoNang %>
</p>

<p>
  <strong>Tocdoha:</strong>
  <%= @ga.tocDoHa %>
</p>

<p>
  <strong>Ungsuatlonnhat:</strong>
  <%= @ga.ungSuatLonNhat %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @ga.khaNangLeoDoc %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @ga.tongKhoiLuong %>
</p>

<p>
  <strong>Phanbokhoiluongkhicotai:</strong>
  <%= @ga.phanBoKhoiLuongKhiCoTai %>
</p>

<p>
  <strong>Phanbokhoiluongkhikhongcotai:</strong>
  <%= @ga.phanBoKhoiLuongKhiKhongCoTai %>
</p>

<p>
  <strong>Kichthuoclopxetruoc:</strong>
  <%= @ga.kichThuocLopXeTruoc %>
</p>

<p>
  <strong>Kichthuoclopxesau:</strong>
  <%= @ga.kichThuocLopXeSau %>
</p>

<p>
  <strong>Vetbanhxe:</strong>
  <%= @ga.vetBanhXe %>
</p>

<p>
  <strong>Khoangcachtamlop:</strong>
  <%= @ga.khoangCachTamLop %>
</p>

<p>
  <strong>Khoangsanggamxe:</strong>
  <%= @ga.khoangSangGamXe %>
</p>

<p>
  <strong>Hethongphanh:</strong>
  <%= @ga.heThongPhanh %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @ga.acQUy %>
</p>

<p>
  <strong>Loaidongco:</strong>
  <%= @ga.loaiDongCo %>
</p>

<p>
  <strong>Congsuat:</strong>
  <%= @ga.congSuat %>
</p>

<p>
  <strong>Momem:</strong>
  <%= @ga.momem %>
</p>

<p>
  <strong>Soxylah:</strong>
  <%= @ga.soXyLah %>
</p>

<p>
  <strong>Dungtichbuongchay:</strong>
  <%= @ga.dungTichBuongChay %>
</p>

<p>
  <strong>Dungtichbinhnhienlieu:</strong>
  <%= @ga.dungTichBinhNhienLieu %>
</p>

<%= link_to 'Edit', edit_ga_path(@ga) %> |
<%= link_to 'Back', gas_path %>
