<%= form_for(@heli_dc4banh) do |f| %>
  <% if @heli_dc4banh.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heli_dc4banh.errors.count, "error") %> prohibited this heli_dc4banh from being saved:</h2>

      <ul>
      <% @heli_dc4banh.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_field :ten %>
  </div>
  <div class="field">
    <%= f.label :gioiThieu %><br>
    <%= f.text_field :gioiThieu %>
  </div>
  <div class="field">
    <%= f.label :nhaSanXuat %><br>
    <%= f.text_field :nhaSanXuat %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :trongTaiNang %><br>
    <%= f.number_field :trongTaiNang %>
  </div>
  <div class="field">
    <%= f.label :trongTamTai %><br>
    <%= f.number_field :trongTamTai %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoNangToiDa %><br>
    <%= f.number_field :chieuCaoNangToiDa %>
  </div>
  <div class="field">
    <%= f.label :tocDoNang %><br>
    <%= f.text_field :tocDoNang %>
  </div>
  <div class="field">
    <%= f.label :tocDoHa %><br>
    <%= f.text_field :tocDoHa %>
  </div>
  <div class="field">
    <%= f.label :tocDoDiChueynToiDa %><br>
    <%= f.number_field :tocDoDiChueynToiDa %>
  </div>
  <div class="field">
    <%= f.label :banKinhQuayVongToiThieu %><br>
    <%= f.number_field :banKinhQuayVongToiThieu %>
  </div>
  <div class="field">
    <%= f.label :khaNangLeoDocCoTai %><br>
    <%= f.number_field :khaNangLeoDocCoTai %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoKhungNag %><br>
    <%= f.number_field :chieuCaoKhungNag %>
  </div>
  <div class="field">
    <%= f.label :gocNghieng %><br>
    <%= f.text_field :gocNghieng %>
  </div>
  <div class="field">
    <%= f.label :loaiDieuKhienLai %><br>
    <%= f.text_field :loaiDieuKhienLai %>
  </div>
  <div class="field">
    <%= f.label :loaiDieuKhienNang %><br>
    <%= f.text_field :loaiDieuKhienNang %>
  </div>
  <div class="field">
    <%= f.label :motoLai %><br>
    <%= f.text_field :motoLai %>
  </div>
  <div class="field">
    <%= f.label :motoBom %><br>
    <%= f.text_field :motoBom %>
  </div>
  <div class="field">
    <%= f.label :acQuy %><br>
    <%= f.text_field :acQuy %>
  </div>
  <div class="field">
    <%= f.label :kichThuocAcQuy %><br>
    <%= f.text_field :kichThuocAcQuy %>
  </div>
  <div class="field">
    <%= f.label :khoiLuongAcQuy %><br>
    <%= f.number_field :khoiLuongAcQuy %>
  </div>
  <div class="field">
    <%= f.label :kichThuocLopTruoc %><br>
    <%= f.text_field :kichThuocLopTruoc %>
  </div>
  <div class="field">
    <%= f.label :kichThuocLopSau %><br>
    <%= f.text_field :kichThuocLopSau %>
  </div>
  <div class="field">
    <%= f.label :tongKhoiLuongBaoGomCaAcQuy %><br>
    <%= f.number_field :tongKhoiLuongBaoGomCaAcQuy %>
  </div>
  <div class="field">
    <%= f.label :tongChieuDaiCaCangNang %><br>
    <%= f.number_field :tongChieuDaiCaCangNang %>
  </div>
  <div class="field">
    <%= f.label :tongChieuRongLinteger %><br>
    <%= f.text_field :tongChieuRongLinteger %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoCabin %><br>
    <%= f.number_field :chieuCaoCabin %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoKhungNang %><br>
    <%= f.number_field :chieuCaoKhungNang %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoKhiNangCaoNhat %><br>
    <%= f.number_field :chieuCaoKhiNangCaoNhat %>
  </div>
  <div class="field">
    <%= f.label :khoangDiChuyenTuDoCuaKhungNang %><br>
    <%= f.number_field :khoangDiChuyenTuDoCuaKhungNang %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoGiaDo %><br>
    <%= f.number_field :chieuCaoGiaDo %>
  </div>
  <div class="field">
    <%= f.label :khoangSangGamXe %><br>
    <%= f.number_field :khoangSangGamXe %>
  </div>
  <div class="field">
    <%= f.label :chieuDaiCoSo %><br>
    <%= f.number_field :chieuDaiCoSo %>
  </div>
  <div class="field">
    <%= f.label :khoangCachTam2Lop %><br>
    <%= f.text_field :khoangCachTam2Lop %>
  </div>
  <div class="field">
    <%= f.label :kichThuocCangNang %><br>
    <%= f.text_field :kichThuocCangNang %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
