<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @heli_dc4banh.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @heli_dc4banh.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @heli_dc4banh.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @heli_dc4banh.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @heli_dc4banh.model %>
</p>

<p>
  <strong>Trongtainang:</strong>
  <%= @heli_dc4banh.trongTaiNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @heli_dc4banh.trongTamTai %>
</p>

<p>
  <strong>Chieucaonangtoida:</strong>
  <%= @heli_dc4banh.chieuCaoNangToiDa %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @heli_dc4banh.tocDoNang %>
</p>

<p>
  <strong>Tocdoha:</strong>
  <%= @heli_dc4banh.tocDoHa %>
</p>

<p>
  <strong>Tocdodichueyntoida:</strong>
  <%= @heli_dc4banh.tocDoDiChueynToiDa %>
</p>

<p>
  <strong>Bankinhquayvongtoithieu:</strong>
  <%= @heli_dc4banh.banKinhQuayVongToiThieu %>
</p>

<p>
  <strong>Khanangleodoccotai:</strong>
  <%= @heli_dc4banh.khaNangLeoDocCoTai %>
</p>

<p>
  <strong>Chieucaokhungnag:</strong>
  <%= @heli_dc4banh.chieuCaoKhungNag %>
</p>

<p>
  <strong>Gocnghieng:</strong>
  <%= @heli_dc4banh.gocNghieng %>
</p>

<p>
  <strong>Loaidieukhienlai:</strong>
  <%= @heli_dc4banh.loaiDieuKhienLai %>
</p>

<p>
  <strong>Loaidieukhiennang:</strong>
  <%= @heli_dc4banh.loaiDieuKhienNang %>
</p>

<p>
  <strong>Motolai:</strong>
  <%= @heli_dc4banh.motoLai %>
</p>

<p>
  <strong>Motobom:</strong>
  <%= @heli_dc4banh.motoBom %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @heli_dc4banh.acQuy %>
</p>

<p>
  <strong>Kichthuocacquy:</strong>
  <%= @heli_dc4banh.kichThuocAcQuy %>
</p>

<p>
  <strong>Khoiluongacquy:</strong>
  <%= @heli_dc4banh.khoiLuongAcQuy %>
</p>

<p>
  <strong>Kichthuocloptruoc:</strong>
  <%= @heli_dc4banh.kichThuocLopTruoc %>
</p>

<p>
  <strong>Kichthuoclopsau:</strong>
  <%= @heli_dc4banh.kichThuocLopSau %>
</p>

<p>
  <strong>Tongkhoiluongbaogomcaacquy:</strong>
  <%= @heli_dc4banh.tongKhoiLuongBaoGomCaAcQuy %>
</p>

<p>
  <strong>Tongchieudaicacangnang:</strong>
  <%= @heli_dc4banh.tongChieuDaiCaCangNang %>
</p>

<p>
  <strong>Tongchieuronglinteger:</strong>
  <%= @heli_dc4banh.tongChieuRongLinteger %>
</p>

<p>
  <strong>Chieucaocabin:</strong>
  <%= @heli_dc4banh.chieuCaoCabin %>
</p>

<p>
  <strong>Chieucaokhungnang:</strong>
  <%= @heli_dc4banh.chieuCaoKhungNang %>
</p>

<p>
  <strong>Chieucaokhinangcaonhat:</strong>
  <%= @heli_dc4banh.chieuCaoKhiNangCaoNhat %>
</p>

<p>
  <strong>Khoangdichuyentudocuakhungnang:</strong>
  <%= @heli_dc4banh.khoangDiChuyenTuDoCuaKhungNang %>
</p>

<p>
  <strong>Chieucaogiado:</strong>
  <%= @heli_dc4banh.chieuCaoGiaDo %>
</p>

<p>
  <strong>Khoangsanggamxe:</strong>
  <%= @heli_dc4banh.khoangSangGamXe %>
</p>

<p>
  <strong>Chieudaicoso:</strong>
  <%= @heli_dc4banh.chieuDaiCoSo %>
</p>

<p>
  <strong>Khoangcachtam2lop:</strong>
  <%= @heli_dc4banh.khoangCachTam2Lop %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @heli_dc4banh.kichThuocCangNang %>
</p>

<%= link_to 'Edit', edit_heli_dc4banh_path(@heli_dc4banh) %> |
<%= link_to 'Back', heli_dc4banhs_path %>
