<!--<p id="notice"><%= notice %></p>-->

<!--<p>-->
<!--  <strong>Tieu de:</strong>-->
<!--  <%= @tin_tuc.tieu_de %>-->
<!--</p>-->

<!--<p>-->
<!--  <strong>Anh tieu de:</strong>-->
<!--  <%= image_tag(@tin_tuc.anh_tieu_de.url, width: '200px', height: '200px') if @tin_tuc.anh_tieu_de? %>-->
<!--</p>-->
<div class="classify_sp">
  <div class="classify_sp_heading">
    TIN TỨC
  </div>
</div>
  <div class="title_gt">
  <div class="tieu_de'"><%= @tin_tuc.tieu_de %></div>
  <%= raw(@tin_tuc.noi_dung) %>
  </div>


