<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @type.level %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @type.parent %>
</p>

<%= link_to 'Edit', edit_type_path(@type) %> |
<%= link_to 'Back', types_path %>
