<%= form_for(@container) do |f| %>
  <% if @container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% @container.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_field :ten %>
  </div>
  <div class="field">
    <%= f.label :gioiThieu %><br>
    <%= f.text_field :gioiThieu %>
  </div>
  <div class="field">
    <%= f.label :nhaSanXuat %><br>
    <%= f.text_field :nhaSanXuat %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :taiTrongNang %><br>
    <%= f.text_field :taiTrongNang %>
  </div>
  <div class="field">
    <%= f.label :trongTamTai %><br>
    <%= f.text_field :trongTamTai %>
  </div>
  <div class="field">
    <%= f.label :soHang %><br>
    <%= f.text_field :soHang %>
  </div>
  <div class="field">
    <%= f.label :tocDoNang %><br>
    <%= f.text_field :tocDoNang %>
  </div>
  <div class="field">
    <%= f.label :tocDoDiChuyen %><br>
    <%= f.text_field :tocDoDiChuyen %>
  </div>
  <div class="field">
    <%= f.label :banKinhQuayVongToiThieu %><br>
    <%= f.number_field :banKinhQuayVongToiThieu %>
  </div>
  <div class="field">
    <%= f.label :khaNangLeoDoc %><br>
    <%= f.number_field :khaNangLeoDoc %>
  </div>
  <div class="field">
    <%= f.label :lucKeo %><br>
    <%= f.number_field :lucKeo %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoCanang %><br>
    <%= f.number_field :chieuCaoCanang %>
  </div>
  <div class="field">
    <%= f.label :chieuConCanNangKhiNangHetCo %><br>
    <%= f.number_field :chieuConCanNangKhiNangHetCo %>
  </div>
  <div class="field">
    <%= f.label :lopXe %><br>
    <%= f.text_field :lopXe %>
  </div>
  <div class="field">
    <%= f.label :dongCo %><br>
    <%= f.text_field :dongCo %>
  </div>
  <div class="field">
    <%= f.label :congSuatLstring %><br>
    <%= f.text_field :congSuatLstring %>
  </div>
  <div class="field">
    <%= f.label :momen %><br>
    <%= f.text_field :momen %>
  </div>
  <div class="field">
    <%= f.label :tongChieuDai %><br>
    <%= f.number_field :tongChieuDai %>
  </div>
  <div class="field">
    <%= f.label :tongChieuRong %><br>
    <%= f.number_field :tongChieuRong %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
