<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @container.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @container.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @container.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @container.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @container.model %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @container.taiTrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @container.trongTamTai %>
</p>

<p>
  <strong>Sohang:</strong>
  <%= @container.soHang %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @container.tocDoNang %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @container.tocDoDiChuyen %>
</p>

<p>
  <strong>Bankinhquayvongtoithieu:</strong>
  <%= @container.banKinhQuayVongToiThieu %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @container.khaNangLeoDoc %>
</p>

<p>
  <strong>Luckeo:</strong>
  <%= @container.lucKeo %>
</p>

<p>
  <strong>Chieucaocanang:</strong>
  <%= @container.chieuCaoCanang %>
</p>

<p>
  <strong>Chieuconcannangkhinanghetco:</strong>
  <%= @container.chieuConCanNangKhiNangHetCo %>
</p>

<p>
  <strong>Lopxe:</strong>
  <%= @container.lopXe %>
</p>

<p>
  <strong>Dongco:</strong>
  <%= @container.dongCo %>
</p>

<p>
  <strong>Congsuatlstring:</strong>
  <%= @container.congSuatLstring %>
</p>

<p>
  <strong>Momen:</strong>
  <%= @container.momen %>
</p>

<p>
  <strong>Tongchieudai:</strong>
  <%= @container.tongChieuDai %>
</p>

<p>
  <strong>Tongchieurong:</strong>
  <%= @container.tongChieuRong %>
</p>

<%= link_to 'Edit', edit_container_path(@container) %> |
<%= link_to 'Back', containers_path %>
