<%= form_for(@trong_tai_lon) do |f| %>
  <% if @trong_tai_lon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trong_tai_lon.errors.count, "error") %> prohibited this trong_tai_lon from being saved:</h2>

      <ul>
      <% @trong_tai_lon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_field :ten %>
  </div>
  <div class="field">
    <%= f.label :gioiThieu %><br>
    <%= f.text_field :gioiThieu %>
  </div>
  <div class="field">
    <%= f.label :nhaSanXuat %><br>
    <%= f.text_field :nhaSanXuat %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :taitrongNang %><br>
    <%= f.number_field :taitrongNang %>
  </div>
  <div class="field">
    <%= f.label :trongTamTai %><br>
    <%= f.number_field :trongTamTai %>
  </div>
  <div class="field">
    <%= f.label :tocDoNang %><br>
    <%= f.text_field :tocDoNang %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoNangLonNhat %><br>
    <%= f.number_field :chieuCaoNangLonNhat %>
  </div>
  <div class="field">
    <%= f.label :tocDoDiChuyen %><br>
    <%= f.text_field :tocDoDiChuyen %>
  </div>
  <div class="field">
    <%= f.label :banKinhQuayVongToiThieu %><br>
    <%= f.number_field :banKinhQuayVongToiThieu %>
  </div>
  <div class="field">
    <%= f.label :khaNangLeoDOc %><br>
    <%= f.number_field :khaNangLeoDOc %>
  </div>
  <div class="field">
    <%= f.label :sucKeo %><br>
    <%= f.text_field :sucKeo %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoKhungNang %><br>
    <%= f.number_field :chieuCaoKhungNang %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoKhungNangKhiNangCaoNhat %><br>
    <%= f.number_field :chieuCaoKhungNangKhiNangCaoNhat %>
  </div>
  <div class="field">
    <%= f.label :kichThuocCangNang %><br>
    <%= f.text_field :kichThuocCangNang %>
  </div>
  <div class="field">
    <%= f.label :khoangDichChuyenCangNang %><br>
    <%= f.text_field :khoangDichChuyenCangNang %>
  </div>
  <div class="field">
    <%= f.label :coLopXe %><br>
    <%= f.text_field :coLopXe %>
  </div>
  <div class="field">
    <%= f.label :loaiDongCo %><br>
    <%= f.text_field :loaiDongCo %>
  </div>
  <div class="field">
    <%= f.label :congSuat %><br>
    <%= f.text_field :congSuat %>
  </div>
  <div class="field">
    <%= f.label :momen %><br>
    <%= f.text_field :momen %>
  </div>
  <div class="field">
    <%= f.label :chieuDaiXe %><br>
    <%= f.number_field :chieuDaiXe %>
  </div>
  <div class="field">
    <%= f.label :chieuRong %><br>
    <%= f.number_field :chieuRong %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
