<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @trong_tai_lon.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @trong_tai_lon.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @trong_tai_lon.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @trong_tai_lon.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @trong_tai_lon.model %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @trong_tai_lon.taitrongNang %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @trong_tai_lon.trongTamTai %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @trong_tai_lon.tocDoNang %>
</p>

<p>
  <strong>Chieucaonanglonnhat:</strong>
  <%= @trong_tai_lon.chieuCaoNangLonNhat %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @trong_tai_lon.tocDoDiChuyen %>
</p>

<p>
  <strong>Bankinhquayvongtoithieu:</strong>
  <%= @trong_tai_lon.banKinhQuayVongToiThieu %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @trong_tai_lon.khaNangLeoDOc %>
</p>

<p>
  <strong>Suckeo:</strong>
  <%= @trong_tai_lon.sucKeo %>
</p>

<p>
  <strong>Chieucaokhungnang:</strong>
  <%= @trong_tai_lon.chieuCaoKhungNang %>
</p>

<p>
  <strong>Chieucaokhungnangkhinangcaonhat:</strong>
  <%= @trong_tai_lon.chieuCaoKhungNangKhiNangCaoNhat %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @trong_tai_lon.kichThuocCangNang %>
</p>

<p>
  <strong>Khoangdichchuyencangnang:</strong>
  <%= @trong_tai_lon.khoangDichChuyenCangNang %>
</p>

<p>
  <strong>Colopxe:</strong>
  <%= @trong_tai_lon.coLopXe %>
</p>

<p>
  <strong>Loaidongco:</strong>
  <%= @trong_tai_lon.loaiDongCo %>
</p>

<p>
  <strong>Congsuat:</strong>
  <%= @trong_tai_lon.congSuat %>
</p>

<p>
  <strong>Momen:</strong>
  <%= @trong_tai_lon.momen %>
</p>

<p>
  <strong>Chieudaixe:</strong>
  <%= @trong_tai_lon.chieuDaiXe %>
</p>

<p>
  <strong>Chieurong:</strong>
  <%= @trong_tai_lon.chieuRong %>
</p>

<%= link_to 'Edit', edit_trong_tai_lon_path(@trong_tai_lon) %> |
<%= link_to 'Back', trong_tai_lons_path %>
