<div id="bocongtac" class="bocongtac tab-pane fade">
        <div class="image_bct">
        <a href="#">
            <%= link_to image_tag("bocongtac/image_1396597885.jpg"),image_path("bocongtac/image_1396597885.jpg"), :rel => "shadowbox" %>
        </a>
        </div>
        <div class="image_bct">
            <a href="#">
                <%= link_to image_tag("bocongtac/image_1396597961.jpg"),image_path("bocongtac/image_1396597961.jpg"), :rel => "shadowbox" %>
            </a>
        </div>
        <div class="image_bct">
            <a href="#">
                <%= link_to image_tag("bocongtac/image_1396598086.jpg"),image_path("bocongtac/image_1396598086.jpg"), :rel => "shadowbox" %>
            </a>
        </div>
        <div class="image_bct">
            <a href="#">
                <%= link_to image_tag("bocongtac/image_1396598018.jpg"),image_path("bocongtac/image_1396598018.jpg"), :rel => "shadowbox" %>
            </a>
        </div>
        <div class="image_bct">
            <a href="#">
                <%= link_to image_tag("bocongtac/image_1396598128.jpg"),image_path("bocongtac/image_1396598128.jpg"), :rel => "shadowbox" %>
            </a>
        </div>
        <div class="image_bct">
            <a href="#">
                <%= link_to image_tag("bocongtac/image_1396598195.jpg"),image_path("bocongtac/image_1396598195.jpg"), :rel => "shadowbox" %>    
            </a>
        </div>

    </div>