<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @pallet.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @pallet.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @pallet.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @pallet.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @pallet.model %>
</p>

<p>
  <strong>Trongtai:</strong>
  <%= @pallet.trongTai %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @pallet.trongTamTai %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @pallet.tocDoNang %>
</p>

<p>
  <strong>Chieucaonangtieuchuan:</strong>
  <%= @pallet.chieuCaoNangTieuChuan %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @pallet.tocDoDiChuyen %>
</p>

<p>
  <strong>Bankinhquayvongtoithieu:</strong>
  <%= @pallet.banKinhQuayVongToiThieu %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @pallet.khaNangLeoDoc %>
</p>

<p>
  <strong>Loaidieukhienlai:</strong>
  <%= @pallet.loaiDieuKhienLai %>
</p>

<p>
  <strong>Motolai:</strong>
  <%= @pallet.motoLai %>
</p>

<p>
  <strong>Motobom:</strong>
  <%= @pallet.motoBom %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @pallet.acQuy %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @pallet.kichThuocCangNang %>
</p>

<p>
  <strong>Colop:</strong>
  <%= @pallet.coLop %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @pallet.tongKhoiLuong %>
</p>

<p>
  <strong>Tongchieudai:</strong>
  <%= @pallet.tongChieuDai %>
</p>

<p>
  <strong>Tongchieurong:</strong>
  <%= @pallet.tongChieuRong %>
</p>

<%= link_to 'Edit', edit_pallet_path(@pallet) %> |
<%= link_to 'Back', pallets_path %>
