<p id="notice"><%= notice %></p>

<h1>Listing Reach Trucks</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Ten</th>
      <th>Gioithieu</th>
      <th>Nhasanxuat</th>
      <th>Model</th>
      <th>Trongtai</th>
      <th>Trongtamtai</th>
      <th>Tocdonang</th>
      <th>Chieucaonangtieuchuan</th>
      <th>Tocdodichuyen</th>
      <th>Bankinhquayvongtoithieu</th>
      <th>Khanangleodoc</th>
      <th>Loaidieukhienlai</th>
      <th>Loaidieukhiennang</th>
      <th>Motolai</th>
      <th>Motobom</th>
      <th>Acquy</th>
      <th>Kichthuoccangnang</th>
      <th>Colop</th>
      <th>Tongkhoiluong</th>
      <th>Tongchieudai</th>
      <th>Tongchieurong</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reach_trucks.each do |reach_truck| %>
      <tr>
        <td><%= reach_truck.type_id %></td>
        <td><%= reach_truck.ten %></td>
        <td><%= reach_truck.gioiThieu %></td>
        <td><%= reach_truck.nhaSanXuat %></td>
        <td><%= reach_truck.model %></td>
        <td><%= reach_truck.trongTai %></td>
        <td><%= reach_truck.trongTamTai %></td>
        <td><%= reach_truck.tocDoNang %></td>
        <td><%= reach_truck.chieuCaoNangTieuChuan %></td>
        <td><%= reach_truck.tocDoDiChuyen %></td>
        <td><%= reach_truck.banKinhQuayVongToiThieu %></td>
        <td><%= reach_truck.khaNangLeoDoc %></td>
        <td><%= reach_truck.loaiDieuKhienLai %></td>
        <td><%= reach_truck.loaiDieuKhienNang %></td>
        <td><%= reach_truck.motoLai %></td>
        <td><%= reach_truck.motoBom %></td>
        <td><%= reach_truck.acQuy %></td>
        <td><%= reach_truck.kichThuocCangNang %></td>
        <td><%= reach_truck.coLop %></td>
        <td><%= reach_truck.tongKhoiLuong %></td>
        <td><%= reach_truck.tongChieuDai %></td>
        <td><%= reach_truck.tongChieuRong %></td>
        <td><%= link_to 'Show', reach_truck %></td>
        <td><%= link_to 'Edit', edit_reach_truck_path(reach_truck) %></td>
        <td><%= link_to 'Destroy', reach_truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reach truck', new_reach_truck_path %>
