<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @reach_truck.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @reach_truck.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @reach_truck.gioiThieu %>
</p>

<p>
  <strong>Nhasanxuat:</strong>
  <%= @reach_truck.nhaSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @reach_truck.model %>
</p>

<p>
  <strong>Trongtai:</strong>
  <%= @reach_truck.trongTai %>
</p>

<p>
  <strong>Trongtamtai:</strong>
  <%= @reach_truck.trongTamTai %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @reach_truck.tocDoNang %>
</p>

<p>
  <strong>Chieucaonangtieuchuan:</strong>
  <%= @reach_truck.chieuCaoNangTieuChuan %>
</p>

<p>
  <strong>Tocdodichuyen:</strong>
  <%= @reach_truck.tocDoDiChuyen %>
</p>

<p>
  <strong>Bankinhquayvongtoithieu:</strong>
  <%= @reach_truck.banKinhQuayVongToiThieu %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @reach_truck.khaNangLeoDoc %>
</p>

<p>
  <strong>Loaidieukhienlai:</strong>
  <%= @reach_truck.loaiDieuKhienLai %>
</p>

<p>
  <strong>Loaidieukhiennang:</strong>
  <%= @reach_truck.loaiDieuKhienNang %>
</p>

<p>
  <strong>Motolai:</strong>
  <%= @reach_truck.motoLai %>
</p>

<p>
  <strong>Motobom:</strong>
  <%= @reach_truck.motoBom %>
</p>

<p>
  <strong>Acquy:</strong>
  <%= @reach_truck.acQuy %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @reach_truck.kichThuocCangNang %>
</p>

<p>
  <strong>Colop:</strong>
  <%= @reach_truck.coLop %>
</p>

<p>
  <strong>Tongkhoiluong:</strong>
  <%= @reach_truck.tongKhoiLuong %>
</p>

<p>
  <strong>Tongchieudai:</strong>
  <%= @reach_truck.tongChieuDai %>
</p>

<p>
  <strong>Tongchieurong:</strong>
  <%= @reach_truck.tongChieuRong %>
</p>

<%= link_to 'Edit', edit_reach_truck_path(@reach_truck) %> |
<%= link_to 'Back', reach_trucks_path %>
