<%= form_for(@heli_kseries) do |f| %>
  <% if @heli_kseries.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@heli_kseries.errors.count, "error") %> prohibited this heli_kseries from being saved:</h2>

      <ul>
      <% @heli_kseries.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :image %><br>
    <% if @heli_kseries.image? %>
      <%= image_tag @heli_kseries.image_url, :width => 100, :height => 100  %>
    <% end %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :type_id %><br>
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :ten %><br>
    <%= f.text_field :ten %>
  </div>
  <div class="field">
    <%= f.label :gioiThieu %><br>
    <%= f.text_field :gioiThieu %>
  </div>
  <div class="field">
    <%= f.label :hangSanXuat %><br>
    <%= f.text_field :hangSanXuat %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :kieuDongCo %><br>
    <%= f.text_field :kieuDongCo %>
  </div>
  <div class="field">
    <%= f.label :taiTrongNang %><br>
    <%= f.number_field :taiTrongNang %>
  </div>
  <div class="field">
    <%= f.label :tamTaiTrong %><br>
    <%= f.number_field :tamTaiTrong %>
  </div>
  <div class="field">
    <%= f.label :kieuHoatDong %><br>
    <%= f.text_field :kieuHoatDong %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoCotNangLonNhat %><br>
    <%= f.number_field :chieuCaoCotNangLonNhat %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoNangLonNhat %><br>
    <%= f.number_field :chieuCaoNangLonNhat %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoNangTuDo %><br>
    <%= f.number_field :chieuCaoNangTuDo %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoKhungNang %><br>
    <%= f.number_field :chieuCaoKhungNang %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoCoSo %><br>
    <%= f.number_field :chieuCaoCoSo %>
  </div>
  <div class="field">
    <%= f.label :chieuCaoCoSoVoiCangNang %><br>
    <%= f.number_field :chieuCaoCoSoVoiCangNang %>
  </div>
  <div class="field">
    <%= f.label :chieuDaiCoSo %><br>
    <%= f.text_field :chieuDaiCoSo %>
  </div>
  <div class="field">
    <%= f.label :chieuRongCoSo %><br>
    <%= f.number_field :chieuRongCoSo %>
  </div>
  <div class="field">
    <%= f.label :kichThuocTuTamCauTruocToiKhungNang %><br>
    <%= f.number_field :kichThuocTuTamCauTruocToiKhungNang %>
  </div>
  <div class="field">
    <%= f.label :kichThuocTuTamCauSauToiDuoiXe %><br>
    <%= f.number_field :kichThuocTuTamCauSauToiDuoiXe %>
  </div>
  <div class="field">
    <%= f.label :khoangCachTrucBanhXe %><br>
    <%= f.text_field :khoangCachTrucBanhXe %>
  </div>
  <div class="field">
    <%= f.label :khoangSangGamXe %><br>
    <%= f.number_field :khoangSangGamXe %>
  </div>
  <div class="field">
    <%= f.label :khoangCachVetLopXe %><br>
    <%= f.text_field :khoangCachVetLopXe %>
  </div>
  <div class="field">
    <%= f.label :banKinhQuaVong %><br>
    <%= f.number_field :banKinhQuaVong %>
  </div>
  <div class="field">
    <%= f.label :banKinhQuayNhoNhat %><br>
    <%= f.number_field :banKinhQuayNhoNhat %>
  </div>
  <div class="field">
    <%= f.label :gocNghiengCotNang %><br>
    <%= f.text_field :gocNghiengCotNang %>
  </div>
  <div class="field">
    <%= f.label :kichThuocCangNang %><br>
    <%= f.text_field :kichThuocCangNang %>
  </div>
  <div class="field">
    <%= f.label :tocDoDiChuyenLonNhat %><br>
    <%= f.text_field :tocDoDiChuyenLonNhat %>
  </div>
  <div class="field">
    <%= f.label :tocDoNang %><br>
    <%= f.text_field :tocDoNang %>
  </div>
  <div class="field">
    <%= f.label :toDoHa %><br>
    <%= f.text_field :toDoHa %>
  </div>
  <div class="field">
    <%= f.label :lucNangLonNhat %><br>
    <%= f.text_field :lucNangLonNhat %>
  </div>
  <div class="field">
    <%= f.label :khaNangLeoDoc %><br>
    <%= f.text_field :khaNangLeoDoc %>
  </div>
  <div class="field">
    <%= f.label :dienNangSuDung %><br>
    <%= f.text_field :dienNangSuDung %>
  </div>
  <div class="field">
    <%= f.label :coLopTruoc %><br>
    <%= f.text_field :coLopTruoc %>
  </div>
  <div class="field">
    <%= f.label :coLopSau %><br>
    <%= f.text_field :coLopSau %>
  </div>
  <div class="field">
    <%= f.label :tuTrong %><br>
    <%= f.text_field :tuTrong %>
  </div>
  <div class="field">
    <%= f.label :modelDongCo %><br>
    <%= f.text_field :modelDongCo %>
  </div>
  <div class="field">
    <%= f.label :congSuat %><br>
    <%= f.text_field :congSuat %>
  </div>
  <div class="field">
    <%= f.label :moMenXoan %><br>
    <%= f.text_field :moMenXoan %>
  </div>
  <div class="field">
    <%= f.label :dungTichBuongDot %><br>
    <%= f.text_field :dungTichBuongDot %>
  </div>
  <div class="field">
    <%= f.label :binhChuaNhienLieu %><br>
    <%= f.number_field :binhChuaNhienLieu %>
  </div>
  <div class="field">
    <%= f.label :soDiChuyen %><br>
    <%= f.text_field :soDiChuyen %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
