<p id="notice"><%= notice %></p>

<%= image_tag @heli_kseries.image_url, :width => 200, :height => 200  %>

<p>
  <strong>Type:</strong>
  <%= @heli_kseries.type_id %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @heli_kseries.ten %>
</p>

<p>
  <strong>Gioithieu:</strong>
  <%= @heli_kseries.gioiThieu %>
</p>

<p>
  <strong>Hangsanxuat:</strong>
  <%= @heli_kseries.hangSanXuat %>
</p>

<p>
  <strong>Model:</strong>
  <%= @heli_kseries.model %>
</p>

<p>
  <strong>Kieudongco:</strong>
  <%= @heli_kseries.kieuDongCo %>
</p>

<p>
  <strong>Taitrongnang:</strong>
  <%= @heli_kseries.taiTrongNang %>
</p>

<p>
  <strong>Tamtaitrong:</strong>
  <%= @heli_kseries.tamTaiTrong %>
</p>

<p>
  <strong>Kieuhoatdong:</strong>
  <%= @heli_kseries.kieuHoatDong %>
</p>

<p>
  <strong>Chieucaocotnanglonnhat:</strong>
  <%= @heli_kseries.chieuCaoCotNangLonNhat %>
</p>

<p>
  <strong>Chieucaonanglonnhat:</strong>
  <%= @heli_kseries.chieuCaoNangLonNhat %>
</p>

<p>
  <strong>Chieucaonangtudo:</strong>
  <%= @heli_kseries.chieuCaoNangTuDo %>
</p>

<p>
  <strong>Chieucaokhungnang:</strong>
  <%= @heli_kseries.chieuCaoKhungNang %>
</p>

<p>
  <strong>Chieucaocoso:</strong>
  <%= @heli_kseries.chieuCaoCoSo %>
</p>

<p>
  <strong>Chieucaocosovoicangnang:</strong>
  <%= @heli_kseries.chieuCaoCoSoVoiCangNang %>
</p>

<p>
  <strong>Chieudaicoso:</strong>
  <%= @heli_kseries.chieuDaiCoSo %>
</p>

<p>
  <strong>Chieurongcoso:</strong>
  <%= @heli_kseries.chieuRongCoSo %>
</p>

<p>
  <strong>Kichthuoctutamcautruoctoikhungnang:</strong>
  <%= @heli_kseries.kichThuocTuTamCauTruocToiKhungNang %>
</p>

<p>
  <strong>Kichthuoctutamcausautoiduoixe:</strong>
  <%= @heli_kseries.kichThuocTuTamCauSauToiDuoiXe %>
</p>

<p>
  <strong>Khoangcachtrucbanhxe:</strong>
  <%= @heli_kseries.khoangCachTrucBanhXe %>
</p>

<p>
  <strong>Khoangsanggamxe:</strong>
  <%= @heli_kseries.khoangSangGamXe %>
</p>

<p>
  <strong>Khoangcachvetlopxe:</strong>
  <%= @heli_kseries.khoangCachVetLopXe %>
</p>

<p>
  <strong>Bankinhquavong:</strong>
  <%= @heli_kseries.banKinhQuaVong %>
</p>

<p>
  <strong>Bankinhquaynhonhat:</strong>
  <%= @heli_kseries.banKinhQuayNhoNhat %>
</p>

<p>
  <strong>Gocnghiengcotnang:</strong>
  <%= @heli_kseries.gocNghiengCotNang %>
</p>

<p>
  <strong>Kichthuoccangnang:</strong>
  <%= @heli_kseries.kichThuocCangNang %>
</p>

<p>
  <strong>Tocdodichuyenlonnhat:</strong>
  <%= @heli_kseries.tocDoDiChuyenLonNhat %>
</p>

<p>
  <strong>Tocdonang:</strong>
  <%= @heli_kseries.tocDoNang %>
</p>

<p>
  <strong>Todoha:</strong>
  <%= @heli_kseries.toDoHa %>
</p>

<p>
  <strong>Lucnanglonnhat:</strong>
  <%= @heli_kseries.lucNangLonNhat %>
</p>

<p>
  <strong>Khanangleodoc:</strong>
  <%= @heli_kseries.khaNangLeoDoc %>
</p>

<p>
  <strong>diennangsudung:</strong>
  <%= @heli_kseries.dienNangSuDung %>
</p>

<p>
  <strong>Coloptruoc:</strong>
  <%= @heli_kseries.coLopTruoc %>
</p>

<p>
  <strong>Colopsau:</strong>
  <%= @heli_kseries.coLopSau %>
</p>

<p>
  <strong>Tutrong:</strong>
  <%= @heli_kseries.tuTrong %>
</p>

<p>
  <strong>Modeldongco:</strong>
  <%= @heli_kseries.modelDongCo %>
</p>

<p>
  <strong>Congsuat:</strong>
  <%= @heli_kseries.congSuat %>
</p>

<p>
  <strong>Momenxoan:</strong>
  <%= @heli_kseries.moMenXoan %>
</p>

<p>
  <strong>Dungtichbuongdot:</strong>
  <%= @heli_kseries.dungTichBuongDot %>
</p>

<p>
  <strong>Binhchuanhienlieu:</strong>
  <%= @heli_kseries.binhChuaNhienLieu %>
</p>

<p>
  <strong>Sodichuyen:</strong>
  <%= @heli_kseries.soDiChuyen %>
</p>

<%= link_to 'Edit', edit_heli_kseries_path(@heli_kseries) %> |
<%= link_to 'Back', heli_kseries_index_path %>
