<%= form_for(@forklift) do |f| %>
  <% if @forklift.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forklift.errors.count, "error") %> prohibited this forklift from being saved:</h2>

      <ul>
      <% @forklift.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Tên" %><br>
    <%= f.text_field :ten %>
  </div>
  <div class="field">
    <%= f.label "Mô tả" %><br>
    <%= f.text_field :mo_ta %>
  </div>
  <div class="field">
    <%= f.label "Chủ đề" %><br>
    <%= f.select(:type_id, Type.all.map{|p| [p.name,p.id]}.uniq,:prompt => "Chọn một chủ đề") %>
  </div>
  <div class="field">
    <%= f.label "Model" %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label "Công suất" %><br>
    <%= f.number_field :cong_suat %>
  </div>
  <div class="field">
    <%= f.label "Nhà sản suất" %><br>
    <%= f.text_field :nha_san_xuat %>
  </div>
  <div class="field">
    <%= f.label "Loại xe" %><br>
    <%= f.text_field :loai_xe %>
  </div>
  <div class="field">
    <%= f.label "Tải trọng nâng" %><br>
    <%= f.number_field :tai_trong_nang %>
  </div>
  <div class="field">
    <%= f.label "Trọng tâm tải" %><br>
    <%= f.number_field :trong_tam_tai %>
  </div>
  <div class="field">
    <%= f.label "Loại nhiên liệu" %><br>
    <%= f.text_field :loai_nhien_lieu %>
  </div>
  <div class="field">
    <%= f.label "Kiểu xe" %><br>
    <%= f.text_field :kieu_xe %>
  </div>
  <div class="field">
    <%= f.label "Loại lốp" %><br>
    <%= f.text_field :loai_lop %>
  </div>
  <div class="field">
    <%= f.label "Số bánh xe trước" %><br>
    <%= f.number_field :so_banh_xe_truoc %>
  </div>
  <div class="field">
    <%= f.label "Số bánh xe sau" %><br>
    <%= f.number_field :so_banh_xe_sau %>
  </div>
  <div class="field">
    <%= f.label "Chiều cao nâng lớn nhất" %><br>
    <%= f.number_field :chieu_cao_nang_lon_nhat %>
  </div>
  <div class="field">
    <%= f.label "Khoảng nâng tự do" %><br>
    <%= f.number_field :khoang_nang_tu_do %>
  </div>
  <div class="field">
    <%= f.label "Chiều dài càng nâng" %><br>
    <%= f.number_field :chieu_dai_cang_nang %>
  </div>
  <div class="field">
    <%= f.label "Chiều rộng càng nâng" %><br>
    <%= f.number_field :chieu_rong_cang_nang %>
  </div>
  <div class="field">
    <%= f.label "Độ dày càng nâng" %><br>
    <%= f.number_field :do_day_cang_nang %>
  </div>
  <div class="field">
    <%= f.label "Góc nghiêng khung nâng trước" %><br>
    <%= f.number_field :goc_nghieng_khung_nang_truoc %>
  </div>
  <div class="field">
    <%= f.label "Góc nghiêng khung nâng sau" %><br>
    <%= f.number_field :goc_nghieng_khung_nang_sau %>
  </div>
  <div class="field">
    <%= f.label "Chiều dài xe (có càng nâng)" %><br>
    <%= f.number_field :chieu_dai_xe_co_cang_nang %>
  </div>
  <div class="field">
    <%= f.label "Chiều rộng xe" %><br>
    <%= f.number_field :chieu_rong_xe %>
  </div>
  <div class="field">
    <%= f.label "Chiều cao khung nâng" %><br>
    <%= f.number_field :chieu_cao_khung_nang %>
  </div>
  <div class="field">
    <%= f.label "Chiều cao khung nâng khi nâng cao nhất" %><br>
    <%= f.number_field :chieu_cao_khung_nang_khi_nang_cao_nhat %>
  </div>
  <div class="field">
    <%= f.label "Chiều cao cabin" %><br>
    <%= f.number_field :chieu_cao_cabin %>
  </div>
  <div class="field">
    <%= f.label "Bán kính vòng quay tối thiểu" %><br>
    <%= f.number_field :ban_kinh_quay_vong_toi_thieu %>
  </div>
  <div class="field">
    <%= f.label "Tốc độ di chuyển lớn nhất(có tải)" %><br>
    <%= f.text_field :toc_do_di_chuyen_lon_nhat_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Tốc độ di chuyển lớn nhất(không tải)" %><br>
    <%= f.number_field :toc_do_di_chuyen_lon_nhat_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Tốc độ nâng(có tải)" %><br>
    <%= f.number_field :toc_do_nang_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Tốc độ nâng(không tải)" %><br>
    <%= f.number_field :toc_do_nang_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Tốc độ hạ(có tải)" %><br>
    <%= f.number_field :toc_do_ha_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Tốc độ hạ(không tải)" %><br>
    <%= f.number_field :toc_do_ha_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Ứng suất lớn nhất(có tải)" %><br>
    <%= f.number_field :ung_suat_lon_nhat_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Ứng suất lớn nhất(không tải)" %><br>
    <%= f.number_field :ung_suat_lon_nhat_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Khả năng leo dốc(có tải)" %><br>
    <%= f.number_field :kha_nang_leo_doc_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Khả năng leo dốc(không tải)" %><br>
    <%= f.number_field :kha_nang_leo_doc_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Tổng khối lượng" %><br>
    <%= f.number_field :tong_khoi_luong %>
  </div>
  <div class="field">
    <%= f.label "Phân bố khối lượng(khi có tải) trước" %><br>
    <%= f.number_field :phan_bo_khoi_luong_khi_co_tai_truoc %>
  </div>
  <div class="field">
    <%= f.label "Phân bố khối lượng(khi có tải) sau" %><br>
    <%= f.number_field :phan_bo_khoi_luong_khi_co_tai_sau %>
  </div>
  <div class="field">
    <%= f.label "Phân bố khối lượng(khi không tải) trước" %><br>
    <%= f.number_field :phan_bo_khoi_luong_khi_khong_tai_truoc %>
  </div>
  <div class="field">
    <%= f.label "Phân bố khối lượng(khi không tải) sau" %><br>
    <%= f.number_field :phan_bo_khoi_luong_khi_khong_tai_sau %>
  </div>
  <div class="field">
    <%= f.label "Kích thước lốp xe trước" %><br>
    <%= f.text_field :kich_thuoc_lop_xe_truoc %>
  </div>
  <div class="field">
    <%= f.label "Kích thước lốp xe sau" %><br>
    <%= f.text_field :kich_thuoc_lop_xe_sau %>
  </div>
  <div class="field">
    <%= f.label "Chiều dài cơ sở" %><br>
    <%= f.number_field :chieu_dai_co_so %>
  </div>
  <div class="field">
    <%= f.label "Chiều cao cơ sở" %><br>
    <%= f.number_field :chieu_cao_co_so %>
  </div>
  <div class="field">
    <%= f.label "Chiều dài cơ sở(với càng nâng)" %><br>
    <%= f.number_field :chieu_dai_co_so_voi_cang_nang %>
  </div>
  <div class="field">
    <%= f.label "Chiều rộng cơ sở" %><br>
    <%= f.text_field :chieu_rong_co_so %>
  </div>
  <div class="field">
    <%= f.label "Khoảng cách tâm lốp trước" %><br>
    <%= f.number_field :khoang_cach_tam_lop_truoc %>
  </div>
  <div class="field">
    <%= f.label "Khoảng cách tâm lốp sau" %><br>
    <%= f.number_field :khoang_cach_tam_lop_sau %>
  </div>
  <div class="field">
    <%= f.label "Khoảng sáng gầm xe" %><br>
    <%= f.number_field :khoang_sang_gam_xe %>
  </div>
  <div class="field">
    <%= f.label "Hề thống phanh chân" %><br>
    <%= f.text_field :he_thong_phanh_chan %>
  </div>
  <div class="field">
    <%= f.label "Hệ thống phanh tay" %><br>
    <%= f.text_field :he_thong_phanh_tay %>
  </div>
  <div class="field">
    <%= f.label "Ắc quy" %><br>
    <%= f.text_field :ac_quy %>
  </div>
  <div class="field">
    <%= f.label "Loại động cơ" %><br>
    <%= f.text_field :loai_dong_co %>
  </div>
  <div class="field">
    <%= f.label "Mô men" %><br>
    <%= f.text_field :mo_men%>
  </div>
  <div class="field">
    <%= f.label "Số xy lanh" %><br>
    <%= f.number_field :so_xy_lanh %>
  </div>
  <div class="field">
    <%= f.label "Dung tích buồng cháy" %><br>
    <%= f.number_field :dung_tich_buong_chay %>
  </div>
  <div class="field">
    <%= f.label "Dung tích bình nhiên liệu" %><br>
    <%= f.number_field :dung_tich_binh_nhien_lieu %>
  </div>
  <div class="field">
    <%= f.label "Kích thước từ tâm cầu trước tới khung nâng" %><br>
    <%= f.number_field :kich_thuoc_tu_tam_cau_truoc_toi_khung_nang %>
  </div>
  <div class="field">
    <%= f.label "Kích thước từ tâm cầu sau tới đuôi xe" %><br>
    <%= f.number_field :kich_thuoc_tu_tam_cau_sau_toi_duoi_xe %>
  </div>
  <div class="field">
    <%= f.label "Khoảng cách trục bánh xe" %><br>
    <%= f.number_field :khoang_cach_truc_banh_xe %>
  </div>
  <div class="field">
    <%= f.label "Khoảng cách vệt lốp trước" %><br>
    <%= f.number_field :khoang_cach_vet_lop_xe_truoc %>
  </div>
  <div class="field">
    <%= f.label "Khoảng cách vệt lốp sau" %><br>
    <%= f.number_field :khoang_cach_vet_lop_xe_sau %>
  </div>
  <div class="field">
    <%= f.label "Bán kính quay vòng" %><br>
    <%= f.number_field :ban_kinh_quay_vong %>
  </div>
  <div class="field">
    <%= f.label "Bán kính quay nhỏ nhất" %><br>
    <%= f.number_field :ban_kinh_quay_nho_nhat %>
  </div>
  <div class="field">
    <%= f.label "Góc nghiêng cột nâng trước" %><br>
    <%= f.number_field :goc_nghieng_cot_nang_truoc %>
  </div>
  <div class="field">
    <%= f.label "Góc nghiêng cột nâng sau" %><br>
    <%= f.number_field :goc_nghien_cot_nang_sau %>
  </div>
  <div class="field">
    <%= f.label "Góc nghiêng trước" %><br>
    <%= f.number_field :goc_nghieng_truoc %>
  </div>
  <div class="field">
    <%= f.label "Góc nghiêng sau" %><br>
    <%= f.number_field :goc_nghieng_sau %>
  </div>
  <div class="field">
    <%= f.label "Lực nâng lớn nhất(có tải)" %><br>
    <%= f.text_field :luc_nang_lon_nhat_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Lực nâng lớn nhât(không tải)" %><br>
    <%= f.text_field :luc_nang_lon_nhat_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Điện năng sử dụng" %><br>
    <%= f.text_field :dien_nang_su_dung %>
  </div>
  <div class="field">
    <%= f.label "Tự trọng" %><br>
    <%= f.number_field :tu_trong %>
  </div>
  <div class="field">
    <%= f.label "Số di chuyển" %><br>
    <%= f.text_field :so_di_chuyen %>
  </div>
  <div class="field">
    <%= f.label "Sức kéo(có tải)" %><br>
    <%= f.text_field :suc_keo_co_tai %>
  </div>
  <div class="field">
    <%= f.label "Sức kéo(Không tải)" %><br>
    <%= f.text_field :suc_keo_khong_tai %>
  </div>
  <div class="field">
    <%= f.label "Mô tơ" %><br>
    <%= f.text_field :mo_to %>
  </div>
  <div class="field">
    <%= f.label "Mô tơ lái" %><br>
    <%= f.text_field :mo_to_lai %>
  </div>
  <div class="field">
    <%= f.label "Mô tơ bơm" %><br>
    <%= f.text_field :mo_to_bom %>
  </div>  <div class="field">
    <%= f.label "Bơm" %><br>
    <%= f.text_field :bom %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
