<div class="footer">
    <div class="footer-wrap">
        <div class="footer-left">
            <%= image_tag("logo/bm.png",:class => "logo_bm")%>
            <p class="footer-links">
                <%= link_to t("home.trang_chu2"), root_path%>
                ·
                <%= link_to t("home.gioi_thieu2"), root_path%>
                ·
                <%= link_to t("home.dich_vu_ki_thuat2"), root_path%>
                ·
                <%= link_to t("home.phu_tung2"), static_pages_phu_tung_path%>
                ·
                <%= link_to t("home.ban_do2"), static_pages_gmap_path%>
                ·
                <%= link_to t("home.lien_he2"), contacts_path%>
            </p>
            <p class="footer-company-name">Xe Nâng Binh Minh &copy; 2015</p>
        </div>
        <div class="footer-center">
                <table>
                    <tr>
                        <td>
                <i class="fa fa-map-marker"></i>
                        </td>
                        <td>
                <p><span>Km 9+500, Nguyễn Văn Linh,Sài Đồng,Long BIên,Hà Nội
                    <br>
                        CNMN : 288/2 QL1A, P.Thới An, Q12, TP Hồ Chí Minh</span></p>
                        </td>
                    </tr>
                    <tr>
                        <td>

                <i class="fa fa-phone"></i>
                        </td>
                        <td>
                <p>Mr Long: 0969.042.725 </p>

                        </td>
                    </tr>
                    <tr>
                        <td>

                <i class="fa fa-envelope"></i>
                        </td>
                        <td>
                <p class="mail_footer">quylong.bm@gmail.com</p>
                        </td>
                    </tr>
                    <tr>
                        <td>

                            <i class="fa fa-facebook"></i>
                        </td>
                        <td>
                            <iframe src="//www.facebook.com/plugins/follow?href=https%3A%2F%2Fwww.facebook.com%2Fheli.vietnam&amp;layout=standard&amp;show_faces=true&amp;colorscheme=light&amp;width=450&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>
                        </td>
                    </tr>
                </table>
        </div>
        <div class="footer-right">
            <%= image_tag("logo/logo_footer.png",:class => "logo_right")%>
        </div>
    </div>
 
</div>