<!DOCTYPE html>
<html>
<head>
  <title> Project1</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="row">
    <!-- <div class="col-md-3">
      <%= render "layouts/menu_left" %>  
    </div> -->
    
    
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    
    <!-- <div class="col-md-2">
      <%= render "layouts/menu_right" %>  
    </div>
 -->
  </div>
  
  <%= render "layouts/footer" %>
</body>
</html>